<style>* {
  box-sizing: border-box;
}
{
/* navbar */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1px 0px;

position: absolute;
width: 1843px;
height: 84px;
left: 9px;
top: 0px;
}
body {
  font-size: 14px;
}
.v15_17 {
  width: 100%;
  height: 84px;
  background: url("../images/v15_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 1px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_16 {
  width: 100%;
  height: 82px;
  background: url("../images/v15_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v3_6 {
  width: 172px;
  height: 59px;
  background: url("../images/v3_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


.v6_4 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v6_5 {
  width: 169px;
  height: 82px;
  background: url("../images/v6_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 38px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 172px;
  overflow: hidden;
}
.v6_3 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 38px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_7 {
  width: 172px;
  height: 87px;
  background: rgba(255,255,255,1);
  padding: 20px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 341px;
  overflow: hidden;
}

.v6_6 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_26 {
  width: 903px;
  height: 87px;
  background: rgba(17,14,14,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 513px;
  overflow: hidden;
}
.v3_3 {
  width: 787px;
  height: 98px;
  background: url("../images/v3_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v4_8 {
  width: 753px;
  color: rgba(255,253,253,1);
  position: absolute;
  top: 0px;
  left: 17px;
  font-family: Calligraffitti;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}


/* Bio */


/* Auto layout */

{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 30px 25px 0px;

position: absolute;
width: 1311px;
height: 373px;
left: -6px;
top: 152px;

}


.v15_42 {
  width: 100%;
  height: 275px;
  background: url("../images/v15_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 25px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_16 {
  width: 545px;
  color: rgba(253,241,241,1);
  position: absolute;
  top: 30px;
  left: 25px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v7_19 {
  width: 716px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 570px;
  font-family: Alegreya Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
/* Brand-assests */


/* Auto layout */
{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 8px;

position: absolute;
width: 1413px;
height: 389px;
left: 1px;
top: 525px;
}
.v7_20 {
  width: 100%;
  height: 389px;
  background: url("../images/v7_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 8px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v7_21 {
  width: 504px;
  color: rgba(255,248,248,1);
  position: absolute;
  top: 24px;
  left: 8px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v7_27 {
  width: 118px;
  height: 111px;
  background: url("../images/v7_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 544px;
  overflow: hidden;
}
.v7_26 {
  width: 711px;
  height: 310px;
  background: url("../images/v7_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 694px;
  overflow: hidden;
}
.v7_22 {
  width: 711px;
  height: 310px;
  background: url("../images/v7_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_25 {
  width: 274px;
  height: 287px;
  background: url("../images/v7_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 25px;
  overflow: hidden;
}

.v15_44 {
  width: 100%;
  height: 359px;
  background: url("../images/v15_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_4 {
  width: 484px;
  color: rgba(255,253,253,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v9_3 {
  width: 248px;
  height: 186px;
  background: url("../images/v9_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 518px;
  overflow: hidden;
}
.v9_2 {
  width: 626px;
  height: 282px;
  background: url("../images/v9_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 780px;
  overflow: hidden;
}

.v15_43 {
  width: 100%;
  height: 428px;
  background: url("../images/v15_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_8 {
  width: 539px;
  color: rgba(250,245,245,1);
  position: absolute;
  top: 20px;
  left: 21px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v17_46 {
  width: 215px;
  height: 204px;
  background: url("../images/v17_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 560px;
  overflow: hidden;
}
.v9_11 {
  width: 284px;
  height: 174px;
  background: url("../images/v9_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 775px;
  overflow: hidden;
}
.v9_10 {
  width: 136px;
  height: 148px;
  background: url("../images/v9_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1059px;
  overflow: hidden;
}
.v9_9 {
  width: 142px;
  height: 155px;
  background: url("../images/v9_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1195px;
  overflow: hidden;

}
.v15_45 {
  width: 100%;
  height: 286px;
  background: url("../images/v15_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 61px 33px;
  margin: 157px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_7 {
  width: 416px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 61px;
  left: 33px;
  font-family: Lemon;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
/* match-block */


/* Auto layout */
{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 20px;

position: absolute;
width: 1426px;
height: 359px;
left: 7px;
  top: 945px;}
.v9_5 {
  width: 206px;
  height: 164px;
  background: url("../images/v9_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 606px;
  overflow: hidden;
}
/* up-heal */


/* Auto layout */
{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px 0px 0px 21px;

position: absolute;
width: 1342px;
height: 428px;
left: calc(50% - 1342px/2 - 49px);
top: 1721px;
}
.v9_6 {
  width: 224px;
  height: 160px;
  background: url("../images/v9_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 969px;
  overflow: hidden;
}
/* spice-dao */


/* Auto layout */
{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 61px 33px;

position: absolute;
width: 1284px;
height: 286px;
left: 1px;
top: 1272px;
}
.v15_41 {
  width: 535px;
  height: 4160px;
  background: rgba(13,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/* left-column */


/* Auto layout */
{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 535px;
height: 4160px;
left: 0px;
top: 88px;

background: #0E0101;

}
</style>

